<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.runhare.theappthatneverlies">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheAppThatNeverLies">
        <activity
            android:name=".Activities.UploadActivityPage"
            android:exported="true" />
        <activity
            android:name=".Activities.UploadActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.NewCaptureActivity"
            android:exported="true" />

        <service
            android:name=".Services.CaptureService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.CaptureActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>